.sr-only {
    position: absolute;
	width: 1px;
	height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* stripping styles */
body,
h1{
    margin: 0;
}

header {
    background-image: url(./assets/fishFriend.jpg);
    color: white;
    height: 800px;
    background-repeat: no-repeat;
    background-color: lightskyblue;
    /* background-position: left bottom; */
    background-size: contain;
    background-attachment: fixed;
}

div {
    background: radial-gradient(red, purple, blue);
    height: 500px
}